//- scoring.jade
.score-popup(data-bind='visible: popup_visible')
	div(data-bind='text: message')
.score-holder
	.scoring
		.column.hand
			div Bet
			div Royal Flush
			div Straight Flush
			div Four of a Kind
			div Full House
			div Flush
			div Straight
			div Three of a Kind
			div Two Pairs
			div Jacks or Better
		.column
			div 1
			div 250
			div 50
			div 25
			div 9
			div 6
			div 4
			div 3
			div 2
			div 1
		.column
			div 2
			div 500
			div 100
			div 50
			div 18
			div 12
			div 8
			div 6
			div 4
			div 2
		.column
			div 3
			div 750
			div 150
			div 75
			div 27
			div 18
			div 12
			div 9
			div 6
			div 3
		.column
			div 4
			div 1000
			div 200
			div 100
			div 36
			div 24
			div 16
			div 12
			div 8
			div 4
		.column
			div 5
			div 4000
			div 250
			div 125
			div 45
			div 30
			div 20
			div 15
			div 10
			div 5
		.clearfix
	.clearfix
	.tab.tab-scoring Scoring