body
	margin: 0
	background: blue
	font-family: sans-serif
	color: yellow
	text-transform: uppercase
	text-shadow: 2px 2px 0 black
	font-size: 22px

table
	width: 100%
	background: navy
	border: 1px solid yellow
	border-collapse: collapse
	font-weight: bold
	font-size: 12px
td
	border-left: 1px solid yellow
	padding: 0 4px
	text-align: right
.label
	text-align: left
tr:nth-child(even)
	background: lighten(navy, 5)
tr:nth-child(odd)
	background: navy

.message
	text-transform: uppercase
	font-size: 14px
	padding: 5px 10px 5px 10px
	width: 55%
	float: left
.credits
	float: right
	text-align: right
	width: 30%

.cards, .buttons
	clear: both
	max-width: 300px
	margin: 0 auto
.card_unit
	float: left
	width: 20%
	height: 120px
.card
	width: 92%
	height: 71%
	background-color: white
	border: 2px solid white
	border-radius: 5px
	margin: 0
	position: relative
	box-shadow: inset 0 0 1px 1px black;
	.suit
		width: 73%
		height: 68%
		background-size: 100% 100%
		margin: 42% auto 0 auto
	.value
		position: absolute
		font-size: 30px
		text-shadow: none
		font-weight: bold
		top: 0px
		left: 10px
.card.hold
	border: 2px solid red
button
	width: 94%
	height: 30px
	background: yellow
	margin: 1px
	border: none
	border-radius: 10px
	font-size: 14px
	font-weight: bold
button:hover
	background: darken( yellow, 3 )

.buttons button
	float: right
	width: 45%

.undefined
	background: navy
.diamonds .suit
	background-image: url(diamond.svg)
.clubs .suit
	background-image: url(club.svg)
.hearts .suit
	background-image: url(heart.svg)
.spades .suit
	background-image: url(spade.svg)

.diamonds .value, .hearts .value
	color: red
.clubs .value, .spades .value
	color: black

@media (min-width: 480px)
	.card_unit
		height: 180px
	.cards, .buttons
		clear: both
		max-width: 460px
	.card
		margin: 5px 7px
		.suit
			margin: 36% auto 0 auto
		.value
			font-size: 35px
	button, .message, table
		font-size: 16px
	button
		margin: 0 7px
		height: 30px

@media (min-width: 760px)
	.card_unit
		height: 280px
	.cards, .buttons
		clear: both
		max-width: 760px
	.card
		border: 3px solid white
		.suit
			margin: 36% auto 0 auto
		.value
			font-size: 50px
	.card.hold
		border: 3px solid red
	button, .message, table
		font-size: 22px
	button
		height: 50px


@media (min-width: 980px)
	.card_unit
		height: 340px
	.cards, .buttons
		clear: both
		max-width: 980px
	.card
		border: 3px solid white
		margin: 7px
	.card .suit
		margin: 35% auto 0 auto
	.card .value
		font-size: 70px
	button, .message
		font-size: 32px
	button
		height: 70px


@media (min-width: 1200px)
	.card_unit
		height: 420px
	.cards, .buttons
		clear: both
		max-width: 1200px
	.card
		border: 5px solid white
	.card.hold
		border: 5px solid red
	.card .value
		font-size: 80px
	button, .message
		font-size: 40px
	button
		height: 70px


@media (min-width: 1400px)
	.card_unit
		height: 500px
		button
			margin:10px
	.cards, .buttons
		clear: both
		max-width: 1400px
	.card
		border: 7px solid white
		.value
			font-size: 90px
	.card.hold
		border: 7px solid red
	button, .message
		font-size: 40px
	button
		height: 70px