body
	margin: 0
	background: blue
	font-family: sans-serif
	color: yellow
	text-transform: uppercase
	text-shadow: 2px 2px 0 black
	font-size: 22px

table
	width: 100%
	background: navy
	border: 1px solid yellow
	border-collapse: collapse
	font-weight: bold
	font-size: 16px
td
	border-left: 1px solid yellow
	padding: 0 4px
	text-align: right
.label
	text-align: left
tr:nth-child(even)
	background: lighten(navy, 5)
tr:nth-child(odd)
	background: navy

.message
	text-transform: uppercase
	font-size: 22px
	padding: 5px 10px 0 10px
	width: 45%
	float: left
.credits
	float: right
	text-align: right

.cards, .buttons
	clear: both
	max-width: 760px
	margin: 0 auto
.card_unit
	float: left
	width: 152px
.card
	width: 140px
	height: 195px
	background-image: url(cards.png);
	border: 5px solid white
	border-radius: 5px
	margin: 5px
.card.hold
	border: 5px solid red
button
	width: 140px
	height: 50px
	background: yellow
	margin: 5px 8px
	border: none
	border-radius: 10px
	font-size: 22px
	font-weight: bold
button:hover
	background: darken( yellow, 3 )

.buttons button
	float: right
	width: 200px

.clubs.ace
	background-position: 0px 0
.clubs.two
	background-position: -140px 0
.clubs.three
	background-position: -280px 0
.clubs.four
	background-position: -420px 0
.clubs.five
	background-position: -560px 0
.clubs.six
	background-position: -700px 0
.clubs.seven
	background-position: -840px 0
.clubs.eight
	background-position: -980px 0
.clubs.nine
	background-position: -1120px 0
.clubs.ten
	background-position: -1260px 0
.clubs.jack
	background-position: -1400px 0
.clubs.queen
	background-position: -1540px 0
.clubs.king
	background-position: -1680px 0

.diamonds.ace
	background-position: 0px -195px
.diamonds.two
	background-position: -140px -195px
.diamonds.three
	background-position: -280px -195px
.diamonds.four
	background-position: -420px -195px
.diamonds.five
	background-position: -560px -195px
.diamonds.six
	background-position: -700px -195px
.diamonds.seven
	background-position: -840px -195px
.diamonds.eight
	background-position: -980px -195px
.diamonds.nine
	background-position: -1120px -195px
.diamonds.ten
	background-position: -1260px -195px
.diamonds.jack
	background-position: -1400px -195px
.diamonds.queen
	background-position: -1540px -195px
.diamonds.king
	background-position: -1680px -195px

.hearts.ace
	background-position: 0px -390px
.hearts.two
	background-position: -140px -390px
.hearts.three
	background-position: -280px -390px
.hearts.four
	background-position: -420px -390px
.hearts.five
	background-position: -560px -390px
.hearts.six
	background-position: -700px -390px
.hearts.seven
	background-position: -840px -390px
.hearts.eight
	background-position: -980px -390px
.hearts.nine
	background-position: -1120px -390px
.hearts.ten
	background-position: -1260px -390px
.hearts.jack
	background-position: -1400px -390px
.hearts.queen
	background-position: -1540px -390px
.hearts.king
	background-position: -1680px -390px

.spades.ace
	background-position: 0px -585px
.spades.two
	background-position: -140px -585px
.spades.three
	background-position: -280px -585px
.spades.four
	background-position: -420px -585px
.spades.five
	background-position: -560px -585px
.spades.six
	background-position: -700px -585px
.spades.seven
	background-position: -840px -585px
.spades.eight
	background-position: -980px -585px
.spades.nine
	background-position: -1120px -585px
.spades.ten
	background-position: -1260px -585px
.spades.jack
	background-position: -1400px -585px
.spades.queen
	background-position: -1540px -585px
.spades.king
	background-position: -1680px -585px