// Disables copy selection in iOS
*
	-webkit-touch-callout: none
	-webkit-user-select: none

body
	margin: 0
	background: blue
	font-family: sans-serif
	color: yellow
	text-transform: uppercase
	text-shadow: 2px 2px 0 black
	font-size: 22px

.howto
	display: none

.score-holder
	position: relative
.scoring
	border-bottom: 2px solid yellow
	font-size: 12px

.column
	border-left: 2px solid yellow
	text-align: center
	width: calc( 14% - 2px )
	float: left
.hand
	text-align: left
	width: 30%
	float: left
	border-width: 0
	// Prevent line breaks

.column > div:first-child
	border-bottom: 2px solid yellow
.column > div:nth-child(even)
	background: lighten( navy, 5 )
.column > div:nth-child(odd)
	background: navy

.text-right 
	float: right

.clearfix:before,
.clearfix:after
	display: table
	content: " "

.clearfix:after
	clear: both

.score-holder
	position: relative

.tab 
	background: navy
	border: 2px solid yellow
	border-top: 0
	position: absolute
	bottom: -26px
	right: 25%
	border-radius: 0 0 5px 5px
	font-size: 16px
	text-align: center
	padding: 3px 4px
	cursor: pointer

.message
	text-transform: uppercase
	font-size: 14px
	width: 98%
	margin: 0
	padding: 1%
.message.bottom
	clear: both
.credits
	float: right
	text-align: right
	width: 30%

.cards, .buttons
	clear: both
	margin: 0 auto
.cards
	margin-bottom: 10px
.card_unit
	float: left
	width: 20%
	position: relative
	-webkit-perspective: 600
	button.hold
		background: darken( yellow, 5 )
		border-color: red

.card
	width: 98%
	background-color: white
	border-radius: 5px
	margin: 1%
	position: relative
	padding-bottom: 135%
	transition: transform 0.6s
	transform-style: preserve-3d
	transform: rotateY( 180deg )
	backface-visibility: hidden
	.card-inner
		box-shadow: inset 0 0 2px 0 #222
		background: white
		position: absolute
		border-radius: 5px
		height: 97%
		width: 96%
		top: 1.5%
		left: 2%
	.suit
		width: 73%
		height: 68%
		background-size: 100% 100%
		background-repeat: no-repeat
		position: absolute
		left: 13.5%
		top: 20%
	.value
		position: absolute
		font-size: 30px
		text-shadow: none
		font-weight: bold
		top: 0px
		left: 10px

.card.undefined .value
	display: none

.card.diamonds,
.card.clubs,
.card.hearts,
.card.spades
	transform: rotateY( 0deg )

.card.hold
	background: red

.card.back
	backface-visibility: visible
	position: absolute
	margin: 0 1%
	.card-inner
		background: navy

button
	width: 100%
	background: #ff0
	padding: 15px
	border: 2px solid blue
	font-weight: bold

button:hover
	background: darken( yellow, 3 )

.buttons button
	float: right
	width: 45%

.undefined .card-inner
	background: navy
.diamonds .suit
	background-image: url(img/diamond.svg)
.clubs .suit
	background-image: url(img/club.svg)
.hearts .suit
	background-image: url(img/heart.svg)
.spades .suit
	background-image: url(img/spade.svg)

.diamonds .value, .hearts .value
	color: red
.clubs .value, .spades .value
	color: black

@media (min-width: 568px)
	.cards
		margin-bottom: 0
	button
		padding: 12px

@media (min-width: 480px)
	.card .value
		font-size: 35px
	button, .message, .tab, .scoring
		font-size: 16px

@media (min-width: 760px)
	.card .value
		font-size: 50px
	button, .message, .tab, .scoring
		font-size: 22px
	.tab-scoring
		padding: 4px 12px
		bottom: -37px
	.card
		border-radius: 15px
		.card-inner
			border-radius: 15px

@media (min-width: 980px)
	.card .value
		font-size: 70px
	button, .message, .tab, .scoring
		font-size: 32px
	.tab-scoring
		bottom: -50px

@media (min-width: 1200px)
	.card .value
		font-size: 80px
	button, .message, .tab, .scoring
		font-size: 40px
	.tab-scoring
		bottom: -60px

@media (min-width: 1400px)
	.card .value
		font-size: 90px
